@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2? family= Dancing+Script:wght@100;300;400;500;600;700 & display=swap');


*{
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: .2s linear;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
}

.header{
    background: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 3% 0 2%;   
    height: 70px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

.module-border{
    background: linear-gradient(to right, green, white, red);  
    height: 82px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999,
}

.header .flag img{
    height: 100px;
}

.header .icons div{
    color: gray;
    cursor: pointer;
    font-size: 3rem;
}

.header .icons div:hover{
    font-size: 3.5rem;
    transition: all .3s;
}

.home{
    height: 100vh;
    background: url(../images/iStock-1202699207.jpg) no-repeat;
    background-size: cover;
    background-position: center;

    display: flex;
    align-items: center;
    justify-content: left;
}

.text-area .culinaria{
    font-size: 50px;
    color: white;
    font-family: 'Dancing Script', cursive;
}

.text-area .italiana{
    font-size: 100px;
    color: white;
    font-family: 'Dancing Script', cursive;
}

.text-area{
    padding-left: 100px;
}

.header .navbar a:hover{
    color: red;
    border-bottom: .1rem solid red;
    padding-bottom: .5rem;
    font-size: 2.1rem;
    transition: all .3s;
}

.header .navbar{
    position: absolute;
    top: 100%;
    right: -100%;
    background: url(/images/tomate-cereja-em-uma-mesa-de-madeira-preta-copie-o-espaco-plano-de-fundo-para-cafe-menu-livro-de-receitas-para-receitas-restaurante_168091-67\ \(1\).jpeg) no-repeat;
    background-position: center;
    background-size: cover;
    border-bottom-left-radius: 30px;
    width: 30rem;
    height: calc(100vh - 70vh);
    display: block;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

}

.header .navbar.active{
    right: 0;
}

.header .navbar a{
    color: green;
    display: block;
    margin-top: 3rem;
    margin-bottom: 5rem;
    margin-left: 55%;
    margin-right: 10%;
    padding: .5rem;
    font-size: 2rem;
    font-weight: 500;
}
